@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #040202;
}

.nav-menu li {
    margin: 0 1.5rem;
}

.nav-left span{
    color: #100d0d;
    font-size: 20px;
    margin-left: 10px;
}
.nav-left{
    display: flex;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff8f5;
    padding: 1rem 1rem;
    z-index: 2;
    height: 12vh ;    
}

.logo{
    width: 60px;
}

#slogan{
    font-size: 15px;
    font-style: italic;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-menu li a:hover{
   color: rgb(201, 133, 39);
}

.nav-right ul{
    display: flex;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #151313;
}
:root{
    --pwidth: 80%;
}
.mobile-nav{
    width:var(--pwidth);
    background-color: rgb(175, 147, 147);  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 12vh ;
    
    left: 10%;
    
    z-index: 1;
    transition:all 0.35s ease-in-out;
    
}

.animation-mob-nav{
    animation: dropup 1s;
}

.mobile-nav a{
    margin: 1.3rem;
}

.gfg{
    margin-top: 12vh;
    position: relative;
}
.gfg img{
   
    height:88vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.home-text{
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: #15131352;
}

.home-text p{
    color: rgb(237, 235, 234);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 13px 0;
}

#p1{
    font-size: 20px;
}

#p2{
    font-size: 17px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 50%;
    margin-left: -162px;
}

.btn{
    padding: 7px 13px;
    background-color: rgb(201, 133, 39);
    border: 0.5px solid rgba(3, 5, 4, 0.539);
    margin: 4px;
    border-radius: 10px;
    color: white;
    font-size:17px;
    
}

.btn:hover{
    box-shadow: 2px 2px 2px rgb(201, 133, 39);
    color: rgb(201, 133, 39);
    background-color: rgb(220, 217, 212);
}

/* .whatsapp-logo{
    width: 60px;
    position: fixed;
    left: 92%;
    top:82%
  } */

#mission{
    text-align: center;
    line-height: 2;
    font-size: 1rem;
    padding: 13% 10px;
}

.whatsapp-logo{
    width: 60px;
    position: fixed;
    right: 10px;   
    top:75%
}
