@media only screen and (max-width: 768px) {
    
    .visible{
            
        /* visibility: visible; */
        height: 400px;
    }

    .nav-right ul{
        display: none;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
